modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 23744
externalPort = 3001

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyAnumGNwmWaiSO4KODvsC-Tqj0AlWssIig"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "soul-remembrance.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "soul-remembrance"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "soul-remembrance.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "384463054245"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:384463054245:web:84424138dd46ef62a7744c"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-EQKLMFYCGG"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "384463054245-qsekvv7mif2ltj2tddr79ikuj95t3d4g.apps.googleusercontent.com"
EXPO_PUBLIC_API_URL = "https://102b5183-a7e8-4344-a9b9-706cb6ccd5d1-00-18dy4bplbxrmf.worf.replit.dev"
